/* User Dashboard Home */

@media screen and (max-width: 376px) {
  .example {
    width: 342px;
  }
  .userOrderDash {
    width: 313px;
  }
  .allProducts {
    width: 355px;
  }
  #allSellers {
    width: 315px;
  }
  #sellerDashTable {
    width: 395px;
  }
  #sellerChart {
    width: 380px;
  }
}
@media screen and (max-width: 320px) {
  .example {
    width: 290px;
  }
  .userOrderDash {
    width: 250px;
  }

  .sellerTable {
    width: 295px;
  }
  .box {
    display: none;
  }
  .sellerInfo {
    visibility: hidden;
  }
  .sellerImg {
    height: 44px;
    width: 44px;
  }
  .sellerBarChart {
    padding: 0 !important;
  }
  .menuIcon {
    margin-right: 15px !important;
  }
  .mobileSideNav {
    width: 230px !important;
  }

  .allProducts {
    width: 300px;
  }
  #allSellers {
    width: 255px;
  }
  #hiddenSelect {
    display: none;
  }
}
/* User Dashboard Home */

/* Featured --Home page */

@media screen and (max-width: 320px) {
  #small-device {
    display: grid;
    grid-template-columns: 1fr; /* Define one column with a fraction of available space */
  }
}
/* Featured --Home page */

/* Navbar */

@media screen and (max-width: 320px) {
  .sm-device {
    width: 280px;
  }
}

@media screen and (max-width: 376px) {
  .sm-device {
    width: 280px;
  }
}
/* Navbar */

@media screen and (max-width: 1024px) {
  .re {
    grid-template-columns: repeat(3, 1fr);
  }
  .responsive-table {
    width: 707px;
  }
  #laptopScreenSellerDash {
    width: 80% !important;
  }
}
@media screen and (max-width: 1920px) {
  #laptopScreenSellerDash {
    width: 18% !important;
  }
}

/* .svg {
  background-image: url("path/to/your/svg/file.svg");
  background-size: cover;
  background-repeat: no-repeat;
  
} */
