@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change the width and color of the scrollbar thumb */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #F85606; /* Color of the scrollbar thumb */
    border-radius: 8px; /* Rounded corners of the scrollbar thumb */
  }
  
  /* Vendor prefixes for Firefox */
  /* For Firefox on Windows */
  * {
    scrollbar-width: thin;
    scrollbar-color: #F85606 transparent;
  }
  
  /* For Firefox on macOS */
  * {
    scrollbar-width: thin;
    scrollbar-color: #F85606 transparent;
  }
  
  /* For other browsers, you may need to use JavaScript or custom scrollbar libraries */
  