@tailwind base;
@tailwind components;
@tailwind utilities;

/* Decrease the width of the scrollbar */
::-webkit-scrollbar {
  width: 2px; /* Decrease the width of the scrollbar */
}

/* Change the color and border radius of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #f85606; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners of the scrollbar thumb */
}

/* Vendor prefixes for Firefox */
/* For Firefox on Windows */
* {
  scrollbar-width: thin;
  scrollbar-color: #f85606 transparent;
}

/* For Firefox on macOS */
* {
  scrollbar-width: thin;
  scrollbar-color: #f85606 transparent;
}


/* For other browsers, you may need to use JavaScript or custom scrollbar libraries */
